In [100]:
from IPython.display import display
import pandas as pd

your_text = '왜냐하면 그것이 약속이기 때문에 음!'
mapping_words_in_text = {word:position for position, word in
                        enumerate(set(your_text.lower().split(' ')))}
print(mapping_words_in_text)

{'그것이': 0, '왜냐하면': 1, '음!': 2, '때문에': 3, '약속이기': 4}

In [101]:
corpus = ['The Quick fox jumped over the lazy dog',
          'I sought a dog wondering around with a bird',
          'My dog is named Fido']

In [102]:
from sklearn.feature_extraction.text import CountVectorizer
textual_one_hot_encoder = CountVectorizer(binary=True)
textual_one_hot_encoder.fit(corpus)
textual_one_hot_encoder.vocabulary_

{'the': 13,
 'quick': 11,
 'fox': 4,
 'jumped': 6,
 'over': 10,
 'lazy': 7,
 'dog': 2,
 'sought': 12,
 'wondering': 15,
 'around': 0,
 'with': 14,
 'bird': 1,
 'my': 8,
 'is': 5,
 'named': 9,
 'fido': 3}

In [103]:
columns=[]
for key,value in sorted(textual_one_hot_encoder.vocabulary_.items(),key = lambda item: item[1]) : 
    temp = ''.join(str(value)+' ('+key+')')
    columns.append(temp)

In [104]:
columns

['0 (around)',
 '1 (bird)',
 '2 (dog)',
 '3 (fido)',
 '4 (fox)',
 '5 (is)',
 '6 (jumped)',
 '7 (lazy)',
 '8 (my)',
 '9 (named)',
 '10 (over)',
 '11 (quick)',
 '12 (sought)',
 '13 (the)',
 '14 (with)',
 '15 (wondering)']

In [105]:
vectorized_text = textual_one_hot_encoder.transform(corpus)

In [106]:
pd.DataFrame(columns=columns, index=corpus, data=vectorized_text.todense())

,0 (around),1 (bird),2 (dog),3 (fido),4 (fox),5 (is),6 (jumped),7 (lazy),8 (my),9 (named),10 (over),11 (quick),12 (sought),13 (the),14 (with),15 (wondering)
The Quick fox jumped over the lazy dog,0,0,1,0,1,0,1,1,0,0,1,1,0,1,0,0
I sought a dog wondering around with a bird,1,1,1,0,0,0,0,0,0,0,0,0,1,0,1,1
My dog is named Fido,0,0,1,1,0,1,0,0,1,1,0,0,0,0,0,0

In [107]:
corpus=corpus+['John went home today']
vectorized_text = textual_one_hot_encoder.transform(corpus)

In [108]:
pd.DataFrame(columns=columns, index=corpus, data=vectorized_text.todense())

,0 (around),1 (bird),2 (dog),3 (fido),4 (fox),5 (is),6 (jumped),7 (lazy),8 (my),9 (named),10 (over),11 (quick),12 (sought),13 (the),14 (with),15 (wondering)
The Quick fox jumped over the lazy dog,0,0,1,0,1,0,1,1,0,0,1,1,0,1,0,0
I sought a dog wondering around with a bird,1,1,1,0,0,0,0,0,0,0,0,0,1,0,1,1
My dog is named Fido,0,0,1,1,0,1,0,0,1,1,0,0,0,0,0,0
John went home today,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [109]:
# non_negative -> alternate_sign
from sklearn.feature_extraction.text import HashingVectorizer
hashing_trick = HashingVectorizer(n_features=11, binary=True,
                                 norm=None, alternate_sign=True)
M = hashing_trick.transform(corpus)
print(M.todense())

[[1. 0. 0. 1. 1. 0. 0. 1. 0. 0. 0.]
 [0. 0. 0. 1. 0. 1. 0. 1. 1. 0. 0.]
 [0. 0. 0. 1. 0. 0. 0. 1. 1. 0. 0.]
 [1. 1. 1. 0. 0. 0. 0. 0. 0. 0. 0.]]

In [110]:
print(hashing_trick.transform(['John is the owner of that dog']).todense())

[[1. 0. 1. 1. 0. 1. 0. 1. 0. 1. 0.]]